/* editor.css */

.MainWrapper {
  display: grid;
  grid-template-rows: auto 1fr 0px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.HeaderWrapper {
  align-items: center;
  border-color: #bbb;
  display: flex;
}

.Header__logo {
  width: 70px;
  margin-left: 10px;
}
