.MainContent {
}

.MainWrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

.HeaderWrapper {
  align-items: center;
  border-color: #bbb;
  display: flex;
}

.FooterWrapper {
  border-color: #bbb;
}

.Header__logo {
  width: 70px;
}

.UserAvatar {
  width: 40px;
}

.SidePanel {
  z-index: 0;
}

.gutter {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  /* box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2); */
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
