/* vr-ui.css */

/* The Modal (background) */
.publish-dialog-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /*pointer-events: none*/
}

/* Modal Content/Box */
.publish-dialog {
  position: relative; /* Stay in place */
  background-color: #fefefe;
  /*margin: 5% auto;  15% from the top and centered */
  border: 1px solid #888;
  top: 50%;
  left: 50%;
  width: 600px;
  margin-top: -110px;
  margin-left: -300px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: 10px;
}

/*.publish-dialog-row {
  grid-template-columns: 1fr auto;
}*/
.publish-dialog-label {
  margin: 10px;
}
.publish-dialog-toggle {
  margin: 10px;
}
.publish-dialog-link {
  margin: 10px;
  resize: none;
}

.publish-dialog-embedcode {
  margin: 10px;
  height: 100px;
  resize: none;
}

.publish-dialog-copyclipboard {
  margin: 10px;
}
