.PanelsWrapper {
  flex-basis: 100%;
}

.Viewport {
  min-width: 40px;
}

.PanelHandler {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  width: 20px;
}

.SidePanel {
  width: 250px;
}
