name: Publish to the "next" release channel

on:
  push:
    branches:
      - main

jobs:
  publish-next:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5

      - run: yarn install --frozen-lockfile

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          registry-url: 'https://npm.pkg.github.com'

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master

      - run: yarn publish --ignore-scripts --no-git-tag-version --new-version $PACKAGE_JSON_VERSION-$(git rev-parse --short "$GITHUB_SHA") --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE_JSON_VERSION: ${{ steps.package-version.outputs.current-version}}
