name: E2E testing

on:
  pull_request:
    branches:
      - master

jobs:
  testing-e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        node-version: [16]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://npm.pkg.github.com'
      - run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn run start &
      - name: E2E testing
        run: yarn run test:e2e
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
